<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FamPoly.Utils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FamPoly.Utils.Properties.Settings>
            <setting name="GPPGPath" serializeAs="String">
                <value>c:\users\sekhmet\progs\gppg\binaries\gppg.exe</value>
            </setting>
            <setting name="GPLexPath" serializeAs="String">
                <value>c:\users\sekhmet\progs\gplex\binaries\gplex.exe</value>
            </setting>
        </FamPoly.Utils.Properties.Settings>
    </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Core" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
